@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ÄLYTALO</h1>
    <p class="lead"></lead>
    <p><a href="/Talo/Index" class="btn btn-primary btn-lg">Talot &raquo;</a></p>
    <p><a href="/TalonTila/Index" class="btn btn-primary btn-lg">Talon tila &raquo;</a></p>
    <p><a href="/Valo/Index" class="btn btn-primary btn-lg">Valot &raquo;</a></p>
    <p><a href="/ValonTila/Index" class="btn btn-primary btn-lg">Valon tila &raquo;</a></p>
    <p><a href="/Sauna/Index" class="btn btn-primary btn-lg">Saunat &raquo;</a></p>
    <p><a href="/SaunanTila/Index" class="btn btn-primary btn-lg">Saunan tila &raquo;</a></p>
</div>

